/*
Sysadmin Stylesheet
*/

.main-heading {
    font-size: 30px;
}

.warning-alert h5 {
    color: red;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 10px;
}

a.active-section {
    color: #551a8b;
}

.sysadmin-dashboard-content {
    margin-left: 10pt;
    margin-top: 10pt;
    margin-right: 10pt;
    margin-bottom: 20pt;
}

sysadmin-dashboard-content h2 a {
    margin-right: 1.2em;
}

table.stat_table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table.stat_table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.stat_table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

a.selectedmode {
    background-color: yellow;
}

textarea {
    height: 200px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.error_message {
	background-color: #FFBABA;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 20px;
}

.success_message {
	background-color: #DFF2BF;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 20px;
}

.form-user-registration {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.instructor-nav a {
	margin-right: 10px;
	margin-left: 10px;
}

.disclaimer {
	line-height: 1.5rem;
	text-align: center;
}

.disclaimer span {
	text-decoration: underline;
    font-style: italic;
}

.import-log {
    display: none;
}

.pagination,
.page-status {
    text-align: center;
    padding: 12px 0 12px 0;
}

.pagination .previous-page {
    padding-right: 10px;
}

.pagination .next-page {
    padding-left: 10px;
}
