/* 
Sysadmin Stylesheet
*/

.main-heading { 
    font-size: 30px;
}

.warning-alert h5{
	color: red;
	text-align: left;
	text-decoration: underline;
	margin-bottom: 10px;
}

a.active-section {
	color: #551A8B;
}

.sysadmin-dashboard-content {
    margin-left: 10pt;
    margin-top: 10pt;
    margin-right: 10pt;
    margin-bottom: 20pt;
}

sysadmin-dashboard-content h2 a {
    margin-right: 1.2em;
}


table.stat_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.stat_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.stat_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a.selectedmode { background-color: yellow; }

textarea {
  height: 200px;
}

.error {
    color: red;
}

.success {
    color: green;
}
