{% load i18n static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block body %}
<section class="container">
    <div class="sysadmin-dashboard-wrapper">
        <section class="sysadmin-dashboard-content">
            <h1 class="main-heading">{% trans "Sysadmin Dashboard" %}</h1>
            <hr />
            <h2 class="instructor-nav">
                <a href="#">{% trans "Users" %}</a>
                <a href="{% url 'sysadmin:sysadmin_courses' %}"> {% trans "Courses" %} </a>
            </h2>
            <hr />
            {% block course %}
            {% endblock course %}
        </section>
        {% block msg %}
        {% endblock msg %}
    </div>
</section>
{% endblock body %}
