{% extends "main_django.html" %}
{% load i18n static %}

{% block headextra %}
    <link rel="stylesheet" href="{% static 'edx_sysadmin/css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/header/header.js' %}"></script>
{% endblock %}

{% block body %}
<section class="container">
    <div class="sysadmin-dashboard-wrapper">
        <section class="sysadmin-dashboard-content">
            <h1 class="main-heading">{% trans "Sysadmin Dashboard" %}</h1>
            <hr />
            <h2 class="instructor-nav">
                <a href="{% url 'sysadmin:users' %}">{% trans "Users" %}</a>
                <a href="{% url 'sysadmin:courses' %}"> {% trans "Courses" %} </a>
            </h2>
            <hr />
            {% block panel %}
            {% endblock panel %}
        </section>
        {% block msg %}
        {% endblock msg %}
    </div>
</section>
{% endblock body %}
