{% extends 'edx_sysadmin/base.html' %}

{% load i18n static %}

{% block panel %}
    <h3>{% trans "Administer Courses" %}</h3><br/>
    <form name="action" method="POST">
        {% csrf_token %}
        <ul class="list-input">
            <li class="field text">
            <label for="course_id">
                {% trans "Course ID or dir" %} :
            </label>
            <input type="text" name="course_id" style="width:60%" required />
            </li>
        </ul>
        <div class="form-actions">
            <button type="submit" name="action" value="del_course">{% trans "Delete course" %}</button>
        </div>
    </form>
    <hr style="width:100%" />

    {% if datatable %}
        <br/>
        <br/>
        <p>
        <hr width="100%">
        <h2>{{datatable.title}}</h2>
        <table class="stat_table">
            <tr>
                {% for header in datatable.header %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
            {% for row in datatable.data %}
            <tr>
                {% for value in row %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </p>
    {% endif %}
{% endblock panel %}
{% block msg %}
	{% if msg %}
		<p>{{msg}}</p>
    {% endif %}
{% endblock msg %}
